[report]
exclude_lines =
  if __name__ == .__main__.:
  setup_logger()
  try:
  except IndexError:
  logger.error("Please provide lightning file and asset file as input")
  except Exception as e:
  logger.error(f'UnknownException: {e}')
  except IOError:
  logger.error("lightning_file: Either File is not exist or it is corrupted")
  logger.error("asset_file: Either File is not exist or it is corrupted")
  sys.exit()
  except Exception as ex:
  logger.error(f'UnknownException: {ex}')



